.bck {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
    url('../../assets/Background.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.list {
  overflow: hidden;
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}

.list li {
  overflow: hidden;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 2rem;
}

.contain {
  display: flex;
  margin-top: 15px;
}

.contain li {
  margin-left: 2rem;
  transition: all 0.3s;
}

.contain li:hover {
  font-size: 2.2rem;
  text-decoration: underline;
}

.list li a {
  color: white;
  text-decoration: none;
}
.btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.bt {
  border: 2px solid white;
  padding: 10px;
  color: white;
  font-size: 3rem;
  text-decoration: none;
  border-radius: 20px;
  position: absolute;

  bottom: 60px;
  transition: all 0.5s;
}

.bt:hover {
  background-color: white;
  color: red;
}
@media screen and (max-width: 580px) {
  .contain li {
    font-size: 1.3rem;

    transition: all 0.3s;
  }

  .contain li:hover {
    font-size: 1rem;
    text-decoration: underline;
  }

  .fa-hamburger {
    font-size: 1.5rem;
  }
  .order {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .contain li {
    font-size: 0.7rem;

    transition: all 0.3s;
  }

  .contain li:hover {
    font-size: 0.5rem;
    text-decoration: underline;
  }
}

@media screen and (max-width: 400px) {
  .contain li {
    font-size: 0.5rem;

    transition: all 0.3s;
  }

  .contain li:hover {
    font-size: 0.5rem;
    text-decoration: underline;
  }
}
